<% provide(:title, 'About Us') %>
		<h1>About Us</h1>
		<p>
			The "App", as which it will hereby be referred, is a sample application written with the purposes of being a sample application through which the author is learning Ruby on Rails
		</p>